/* used for nav and titles --->font-family: 'Prompt', sans-serif; font-weight: 200, 400,700, 900 */


.MainHolder {
  position: relative;
  
}

/* Navigation */
nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100vw;
  transition: .6s;
  z-index: 10;
  transition-delay: .25s;
}
.Logo {
  color: white;
  font-size: 12pt;
  font-family: 'Prompt', sans-serif;
  font-weight: 700;
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  transition: .3s;
  color: grey;;
  font-size: 8pt;
  font-family: 'Prompt', sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
}
nav a:hover {
  color: white;
}


.topOfPageNav {
  background: transparent;
  height: 80px;

}
.topOfPageNav a {
  
}

.notTopOfPageNav {
  background: #333;
  height: 52px;

}
/* -------end of Nav-------- */

.Main {
  height: 100vh;
}
/* content */
content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}
h1 {
  border: solid 10px black;
    padding: 15px 30px;
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 20pt;
}
p {
  /* text-align: center; */
  font-size: 14pt;
  font-weight: 300;
  /* padding: 30px; */
  
}
/* button for all attributes */
.myButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    border-radius: 2px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    cursor: pointer;
    z-index: 1;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    transition-delay: .15s;
    transition: .3s;
    opacity: .7;
    text-decoration: none;
    
}
.myButton > a {
  text-decoration: none;
  color: white;
}

.myButton h3 {
    margin: 0;
    padding: 0;
    font-size: 16pt;
    line-height: 16pt;
    color: white;
    text-decoration: none;
}

.myButton:hover {
    opacity: 1;

}

.myButton:active h3 {
    opacity: .7;
    text-decoration: none;
}

.myButton:active {
  opacity: .7;
}
/* end of myButton */
.goToTop {
  background: #222;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

/* mobile */
@media (max-width:700px) {
  content {
    padding-bottom: 8px;
}
h1 {
  border: solid 6px black;
    padding: 8px 15px;
    letter-spacing: 8px;
    font-size: 16pt;
}
p {
  font-size: 12pt;
  font-weight: 300;
  padding: 15px;
  text-align: center;
}
}