.Contact {
    width: 100vw;
    min-height: 100vh;
    background: #222;
    
}
.ContactInfo {
    display: flex;
    justify-content: center;
    
    width: 100vw;

}
.ContactTitle {
    color: white;
    border-color: white;

}

.leftContact {
    width: 100vw;
    
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}
form {
    display: flex;
    min-width: 50%;
    flex-direction: column;
    color: white;
    width: calc(100% -8%);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px 4%;
}
form input {
    width: calc(100% - 13px);
    height: 30px;
    border-radius: 2px;
    border: none;
    margin-bottom: 10px;
    
    padding-left: 10px;
    color: white;
    font-size: 14pt;
    line-height: 14pt;
    z-index: 1;
    background: transparent;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    outline: none;
}
textarea {
    resize: vertical;
    height: 200px;
    max-height: 300px;
    min-height: 50px;
    font-size: 14pt;
    color: white;
    padding: 10px;
    border-radius: 2px;
    border: none;
    background: transparent;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    margin-bottom: 24px;
    z-index: 1;
    outline: none;

}
form input:hover {
    background: #333;
    cursor: text;
}
textarea:hover {
    background: #333;
    cursor: text;
}
.sendMessageBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    
    border-radius: 2px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    
    cursor: pointer;
    z-index: 1;
    
}

.sendMessageBtn h3 {
    margin: 0;
    padding: 0;
    font-size: 16pt;
    line-height: 16pt;
    color: white;
}

.sendMessageBtn:hover {
    background: #444;
}

.sendMessageBtn:active h3 {
    opacity: 1;
}
@media (max-width:700px) {
    
    .ContactInfo {
        flex-direction: column;
        justify-content: center;
    }
    .leftContact {
        margin-top: 0px;
        height: 280px;
    }
    
}
