.MainHolder {
  position: relative;
  
}

/* Navigation */
nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100vw;
  transition: .6s;
  z-index: 10;
  transition-delay: .25s;
}
.Logo {
  color: white;
  font-size: 12pt;
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  transition: .3s;
  font-family: Helvetica, sans-serif;
  color: grey;;
  font-size: 10pt;
}
nav a:hover {
  color: white;
}


.topOfPageNav {
  background: transparent;
  height: 80px;

}
.topOfPageNav a {
  
}

.notTopOfPageNav {
  background: #333;
  height: 52px;

}
/* -------end of Nav-------- */

.Main {
  height: 100vh;
}
/* content */
content {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
  border: solid 10px black;
    padding: 15px 30px;
    text-align: center;
    letter-spacing: 10px;
}
p {
  text-align: center;
  font-size: 10pt;
  font-weight: 300;
  padding: 20px;
}